@font-face {
  font-family: "TATSanaChon";
  font-display: swap;
  src: url("fonts/TATSanaChon-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "TATSanaSuksa";
  font-display: swap;
  src: url("fonts/TATSanaSuksa-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "TATSanaSuksaBold";
  font-display: swap;
  src: url("fonts/TATSanaChon-Bold.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}
body {
  font-family: "TATSanaSuksa";
  margin: 0;
  color: #333333;
}
section {
  width: 100%;
}
#navbar {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-sizing: border-box;
}
#navbar a,
#navbar a:visited {
  font-family: "TATSanaChon";
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: black;
}
#navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -14px;
  left: 0;
  background-color: #213a8f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#navbar a:hover {
  color: #213a8f;
}
#navbar a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#navbar ul {
  margin: 0;
  text-align: center;
  padding: 0;
}
#navbar ul > li {
  padding: 14px;
  display: inline-block;
}
#navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.logo {
  width: auto;
  height: 50px;
}
.hamburger-menu {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
}
.hamburger-menu > span {
  background: #333333;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
}
.hamburger-menu span:nth-child(1) {
  top: 0;
}
.hamburger-menu span:nth-child(2) {
  top: 10px;
}
.hamburger-menu span:nth-child(3) {
  top: 20px;
}
.hamburger-menu.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.hamburger-menu.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.container {
  width: 100%;
  margin: auto;
}

/* Mobile */
@media screen and (max-width: 575.99px) {
  .container {
    padding: 0 30px;
    box-sizing: border-box;
  }
  h1 {
    font-size: 24px !important;
    line-height: 1.6;
  }
  .hamburger-menu {
    display: block;
  }
  .nav-items ul {
    display: none;
    padding: 0;
    transition: background 0.5s;
  }
  .nav-items li {
    display: block !important;
    text-align: right;
    padding: 8px 20px !important;
    font-size: 16px;
  }
  .nav-items a {
    font-family: TATSanaSuksa !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.5) !important;
  }
  .nav-items a::after {
    content: none !important;
  }
  .nav-items a:hover {
    color: rgba(0, 0, 0, 0.7) !important;
  }
  .nav-items ul.open {
    width: 100%;
    display: block;
    position: fixed;
    top: 58px;
    background-color: white;
    left: 0;
  }
  #navbar .container {
    justify-content: space-between;
    padding: 4px 1em;
  }
  .register-btn {
    font-size: 18px !important;
  }
  .description,
  .condition {
    font-size: 16px !important;
  }
  .callcenter-logo {
    width: 80% !important;
  }
  .provider-logo {
    width: 56px !important;
    padding: 0 !important;
  }
  #providers,
  #callcenter {
    margin: 50px 0 !important;
  }
  .banner-center img {
    width: 80%;
    padding: 1em !important;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 576px;
  }
  .hamburger-menu,
  .logo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.text-black {
  color: #333333;
}
.text-red {
  color: #e6332a;
}
.nowrap {
  white-space: nowrap;
}

h1 {
  font-size: 48px;
}

#hero-banner {
  margin-top: 58px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.banner {
  width: 100%;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-left {
  background-image: url("images/hero_banner/banner-left.jpg");
}
.banner-right {
  background-image: url("images/hero_banner/banner-right.jpg");
}
.banner-center {
  background-image: url("images/hero_banner/banner-center.jpg");
}
.banner-center img {
  display: block;
  margin: auto;
  background: #fff;
  padding: 2em;
}

#campagne-detail > .container {
  font-family: TATSanaSuksaBold;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}
#campagne-detail h2 {
  font-size: 18px;
  margin: 1.5rem 0 0 0;
}
.description,
.condition {
  font-family: TATSanaSuksa;
  font-size: 18px;
  max-width: 950px;
}
.header-text {
  font-family: TATSanaSuksaBold;
  font-size: 36px;
  color: #e6332a;
}
#campagne-detail ul,
.tutorial ul {
  list-style-type: decimal;
  margin: 0;
  padding: 0 1em;
}
#campagne-duration {
  margin: 2rem 0;
}
#campagne-duration > .container {
  font-family: TATSanaSuksaBold;
  flex-direction: column;
  text-align: center;
}
.register-btn {
  background-color: #213a8f;
  border-radius: 5px;
  box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
  color: #fff !important;
  display: block;
  font-family: TATSanaSuksaBold;
  font-size: 24px;
  margin: 10px auto;
  max-width: 100%;
  padding: 10px;
  text-decoration: none;
  width: 800px;
  transition: background-color 0.3s;
}
.register-btn:hover {
  background-color: #fbbc33;
  box-shadow: none;
}
.callcenter-logo {
  transition: all 0.25s ease-in-out;
}
.callcenter-logo:hover {
  transform: translateY(-2px);
}
.provider-logo {
  padding: 10px;
  width: 100px;
  display: block;
  margin: auto;
  transition: all 0.2s ease-out;
}
.provider-logo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.center {
  display: block;
  margin: auto;
}

#callcenter > .container,
#providers > .container {
  display: grid;
}

#callcenter > .container {
  grid-template-columns: repeat(3, 1fr);
}

#providers > .container {
  grid-template-columns: repeat(6, 1fr);
}

/* Mobile */
@media screen and (max-width: 767.99px) {
  #callcenter > .container {
    grid-template-columns: repeat(1, 1fr);
  }

  #providers > .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

#contact-information {
  font-family: "TATSanaSuksa";
  font-size: 14px;
  background-color: #fafafa;
  box-sizing: border-box;
}
#contact-information li {
  padding: 0 15px;
  flex: 1;
}
#contact-information ul {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 2rem 0;
}
#contact-information p {
  margin: 0;
  text-align: left;
}
#contact-information p.header {
  font-size: 16px;
  color: #e6332a;
  margin-top: 24px;
  font-weight: bold;
}
#contact-information img {
  width: 108px;
}
#callcenter img {
  width: 350px;
  display: block;
  margin: auto;
  max-width: 100%;
}

#providers,
#callcenter {
  margin: 100px 0;
}

#footer-menu,
#footer-menu a,
#footer-menu a:visited {
  text-decoration: none;
  font-family: "TATSanaSuksaBold";
  background-color: #213a8f;
  color: #fff;
  text-align: left;
}
#footer-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 575.99px) {
  #footer-menu ul,
  #contact-information ul {
    flex-direction: column;
  }
}

#footer-menu li {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 14px;
}
