@font-face {
  font-family: "TATSanaChon";
  src: url('fonts/TATSanaChon-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "TATSanaSuksa";
  src: url('fonts/TATSanaSuksa-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "TATSanaSuksaBold";
  src: url('fonts/TATSanaChon-Bold.woff2') format('woff2');
}

body {
  font-family: "TATSanaSuksa";
  margin: 0;
}
section {
  width: 100%;
}
#navbar {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}
#navbar a {
  font-family: "TATSanaChon";
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
#navbar a:visited {
  color: black;
}
#navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -14px;
  left: 0;
  background-color: #213A8F;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#navbar a:hover {
  color: #213A8F;
}
#navbar a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#navbar ul {
  margin: 0;
  padding: 4px 0;
  text-align: center;
}
#navbar ul > li {
  padding: 14px;
  display: inline-block;
}
ul {
  list-style: none;
}
.logo {
  width: auto;
  height: 50px;
}
.hamburger-menu {
  background: red;
  width: 20px;
  height: 20px;
}
.container { width: 100%; margin: auto; }

/* Mobile */
@media screen and (max-width: 575.99px) {
  .hamburger-menu {
    display: block;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 576px;
  }
  .hamburger-menu, .logo  {
    display: none;
  }
}
@media screen and  (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.text-black { color: #333333; }
.text-red { color: #E6332A; }
.nowrap { white-space: nowrap; }

h1 {
  font-size: 48px;
}

#hero-banner {
  margin-top: 66px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.banner {
  width: 100%;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-left {
  background-image: url('images/hero_banner/banner-left.jpg');
}
.banner-right {
  background-image: url('images/hero_banner/banner-right.jpg');
}
.banner-center {
  background-image: url('images/hero_banner/banner-center.jpg');
}
.banner-center > img {
  display: block;
  margin: auto;
  background-color: white;
  padding: 2em;
}

#campagne-detail > .container {
  font-family: TATSanaSuksaBold;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}
.header-text {
  font-family: TATSanaSuksaBold;
  font-size: 36px;
  color: #E6332A;
}
#campagne-detail ul, .tutorial ul {
  list-style-type: decimal;
  margin: 0;
  padding: 0 1em;
}
#campagne-duration > .container {
  font-family: TATSanaSuksaBold;
  flex-direction: column;
  text-align: center;
}
.register-btn {
  background-color: #213A8F;
  border-radius: 5px;
  box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
  color: #fff !important;
  display: block;
  font-family: TATSanaSuksaBold;
  font-size: 24px;
  margin: auto;
  max-width: 100%;
  padding: 10px;
  text-decoration: none;
  width: 800px;
  transition: background-color 0.3s;
}
.register-btn:hover {
  background-color: #FBBC33;
  box-shadow: none;
}
.provider-logo {
  padding: 10px;
  width: 100px;
}

.center {
  display: block;
  margin: auto;
}

#callcenter  > .container, #providers  > .container {
  display: grid;
}

#callcenter > .container {
  grid-template-columns: repeat(3, 1fr);
}

#providers > .container {
  grid-template-columns: repeat(6, 1fr);
}

/* Mobile */
@media screen and (max-width: 575.99px) {
  #callcenter > .container {
    grid-template-columns: repeat(1, 1fr);
  }
  
  #providers > .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

#contact-information {
  font-family: "TATSanaSuksa";
  font-size: 14px;
  background-color: #FAFAFA;
  padding: 30px;
}
#contact-information li {
  padding: 0 15px;
  flex: 1;
}
#contact-information ul {
  display: flex;
  align-items: flex-start;
}
#contact-information p {
  margin: 0;
  text-align: left;
}
#contact-information p.header {
  font-size: 16px;
  color: #E6332A;
  margin-top: 24px;
  font-weight: bold;
}
#contact-information img {
  width: 108px;
}
#footer-menu {
  font-family: "TATSanaSuksaBold";
  background-color: #213A8F;
  color: #fff;
  text-align: left;
}
#footer-menu ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 575.99px) {
  #footer-menu ul, #contact-information ul {
    flex-direction: column;
  }
}

#footer-menu li {
  display: block;
  padding: .5rem 1rem;
  font-size: 14px;
}